#sidebar {
    position:absolute;
    top:0px;
    left:0px;
    width:50px;
    height:100%;
    background:#151719;
    transition:all 300ms linear;
    text-align: center;
    z-index: 3;
}
#sidebar.active {
    width:200px;    
}
#sidebar .toggle-btn {
    position:relative;
    margin: auto;
    top:15px;
}
#sidebar .toggle-btn span {
    display:block;
    width:20px;
    height:3px;
    background:#FFFFFF;
    margin:5px 0px;
    cursor:pointer;
}
#sidebar div.list div.item {
    padding:15px 10px;
    border-bottom:1px solid #444;
    color:#fcfcfc;
    text-transform:uppercase;
    font-size:15px;
}
#main {
    margin-left: 50px;
}
#main.active {
    margin-left: 200px;
}

#table {
  font-size: 0.75rem;
	text-align: center;
  border: 1px solid #454d55;
  background-color: #181d1f;
	border-radius: 5px;
  overflow-x:auto;
}

#th {
  padding: 0.5rem;
}

#td {
  margin: 0;
  padding: 0.5rem;
  font-size: 0.25rem;
  position: relative;
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  color: whitesmoke;
}

.resizer {
  display: inline-block;
  background: white;
  width: 2px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action:none;
}

#shrink {
	white-space: nowrap;
}

.parent {
  display: table;
}

.child {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}